@charset "UTF-8";
* {padding:0;margin:0;font-family:"微软雅黑",Verdana,"黑体",Helvetica,"宋体"}
	h1 {margin-top:8px;}
	a {text-decoration:none;color:black;}
	ul {list-style-type:none;}
	textarea {resize:none;}
	.clear {clear:both;}
	#sidebar {
		position:fixed;
		width:65px;
		height:100%;
		background-color: #414141;
		z-index:999;
	}
	#sidebar li {
		cursor:pointer;
	}
	.navup {
		width:50px;
		height:50px;
		padding:2px 7.5px 2px 7.5px;
	}
	.nav:hover {
		background-color:#cccccc;
	}
	#nav_top {
		text-align:center;
		color:white;
		font-size:35px;
		cursor:default;
		background-color:#e78170;
	}
	#nav_top:hover{
		background-color:#e78170;
	}
	#backwards {
		display:none;
	}
	#nav_end {
		width:65px;
		height:50px;
		padding:2px 0;
		position:absolute;
		bottom:0px;
	}
	.nav_empty {
		width:50px;
		height:50px;
		margin:4px 7px;
	}
	.nav div {
		display:none;
		position:absolute;
		width:170px;
		margin-top:-50px;
		margin-left:50px;
	}
	.nav ul {
		display:none;
		list-style-type:none;
		width:150px;
		padding:10px 0;
		margin-left:25px;
		background-color: #e1e1e1;
		border-radius:5px;
		box-shadow:0 2px 5px grey;
	}
	.nav ul li {
		text-indent:25px;
	}
	.nav ul li a {
		text-decoration:none;
		color:black;
	}
	.nav:hover ul {
		display:block;
	}
	.nav:hover div {
		display:block;
	}
	#title {
		position:fixed;
		margin-left:65px;
		padding-bottom:5px;
		border-bottom:2px solid grey;
		background-color:white;
		box-shadow:0 -1px 7px black;
	}
	.about_me {
		float:right;
		margin:14px 15px 0 0;
		padding-top:2px;
		width:100px;
		height:24px;
		border-radius:12px;
		background-color:#414141;
		font-size:13px;
		text-align:center;
		color:white;
		cursor:pointer;
	}
	.about_me:hover {
		background-color:grey;
	}
	#blog_name {
		padding:6px 0;
		margin-top:2px;
		text-indent:10px;
		font-size:26px;
		cursor:default;
	}
	.search {
		float:right;
		margin:13px 15px 0 0;
		width:160px;
		height:24px;
		border-radius:14px;
		border:#414141 solid 2px;
		text-indent:10px;
	}
	.search:hover {
		border:grey solid 2px;
		border-radius:14px;
	}
	.search:focus {
		outline:none;
		border:grey solid 2px;
	}
	#main {
		font-size:14px;
		color:#202020;
		margin-left:65px;
		padding-top:60px;
	}
	#more {
		clear:both;
		margin:0 auto;
		position:relative;
		top:20px;
		width:160px;
		height:39px;
		cursor:pointer;
		text-align:center;
		font-size:18px;
		color:white;
		padding-top:13px;
		margin-bottom:40px;
		background-color:#414141;
		border-radius:3px;
	}
	.fill {
		float:left;
		height:1px;
	}
	#content {
		float:left;
		margin:0 auto;
		list-style-type:none;
		width:600px;
	}
	#content li {
		padding-bottom:10px;
		border-bottom:dashed 2.5px #c1c1c1;
	}
	#content li h1 {
		cursor:pointer;
	}
	.intro {
		margin-top:5px;
	}
	.else {
		width:600px;
		margin-top:8px;
	}
	#date {
		float:left;
		margin-right:20px;
		cursor:pointer;
	}
	.count {
		float:right;
		margin-top:-5px;
		margin-right:15px;
	}
	.count img {
		position:relative;
		top:5px;
		margin-left:40px;
		margin-right:6px;
		z-index:-1;
	}
	#article h1{
		font-size:38px;
	}
	#article_data {
		margin-top:12px;
		color:#818181;
	}
	#text {
		margin-top:26px;
	}
	#text p {
		line-height:26px;
		margin-bottom:30px;
		font-size:16px;
	}
	#comment {
		width:576px;
		height:150px;
		padding:10px;
		background-color:white;
		border-top-left-radius:7px;
		border-top-right-radius:7px;
		border:#e1e1e1 solid 2px;
		border-bottom:none;
		resize:none;
		font-size:16px;
		overflow:auto;
	}
	#comment:focus {
		outline:none;
	}
	#edit {
		position:relative;
		top:-8px;
		width:560px;
		padding:12px 3% 4px 3%;
		border:#e1e1e1 2px solid;
		border-top:none;
		border-bottom-left-radius:7px;
		border-bottom-right-radius:7px;
	}
	#edit div {
		float:left;
	}
	#edit>div>img {
		width:20px;
		height:20px;
	}
	#send_message {
		padding:3px 25px;
		margin-right:2.5%;
		margin-top:-1px;
		color:white;
		background-color:#049ff1;
		cursor:pointer;
		border-radius:20px;
		text-align:center;
		font-size:10px;
	}
	#face {
	}
	#face>div {
		display:none;
		position:absolute;
		padding-top:20px;
		top:20px;
		left:35px;
		width:208px;
		height:104px;
		z-index:1;
	}
	#face>div>div {
		width:208px;
		height:104px;
		border:solid #e1e1e1 1px;
		background-color:white;
	}
	#face img {
		cursor:pointer;
	}
	#face:hover div {
		display:block;
	}
	#face>div>div>img {
		float:left;
		width:24px;
		height:24px;
		border:solid 1px #e1e1e1;
	}
	.input_box {
		margin-left:7%;
		width:22%;
	}
	.input_box img {
		float:left;
	}
	.input_box input {
		margin-top:-1px;
		margin-left:7px;
		width:78%;
		font-size:16px;
		border:none;
	}
	.input_box input:focus {
		outline:none;
	}
	#email_box {
		width:40%;
	}
	#comments_area {
		width:600px;
		margin-top:40px;
	}
	#comments_area>div {
		margin-bottom:30px;
		padding-bottom:30px;
		border-bottom:dashed 2px #c1c1c1;
	}
	#comments_area div img {
		width:50px;
		height:50px;
		float:left;
		margin-right:20px;
		cursor:pointer;
	}
	#comments_area div div {
		float:right;
		width:530px;
		margin-top:10px;
		text-indent:0px;
	}
	#username {
		float:left;
		cursor:pointer;
		margin-right:10px;
		color:#049ff1;
	}
	#page {
		padding-bottom:80px;
	}
	#page div {
		float:left;
		padding:4px 12px;
		border-left:solid #c1c1c1 1px;
		border-top:solid #c1c1c1 1px;
		border-bottom:solid #c1c1c1 1px;
		background-color:white;
		cursor:pointer;
	}
	#page div:hover {
		background-color:#e1e1e1;
	}
	#first {
		background-color:#c1c1c1;
		border-top-left-radius:3px;
		border-bottom-left-radius:3px;
	}
	#last {
		border-right:solid #c1c1c1 1px;
		border-top-right-radius:3px;
		border-bottom-right-radius:3px;
	}